<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-time GPS Data</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <div class="card">
        <h3 class="card-header">Real-time GPS Data</h3>
        <div class="card-content">
          <div v-if="loading" class="loading">Loading...</div>
          <div v-else>
            <p v-if="!error" class="gps-data">
              <span><label>Latitude:</label> {{ position.latitude.toFixed(7) }}°</span>
              <span><label>Longitude:</label> {{ position.longitude.toFixed(7) }}°</span>
              <span><label>Accuracy:</label> {{ position.accuracy.toFixed(1) }} m</span>
              <span><label>Time:</label> {{ position.timestamp }}</span>
            </p>
            <p v-else class="error">{{ errorMessage }}</p>
          </div>
        </div>
        <h4 class="card-header">Map</h4>
        <div class="map-container" id="map"></div>
        <h4 class="card-header">History</h4>
        <ul class="history-list">
          <li v-for="pos in points">
            <div class="coords">{{ pos.latitude.toFixed(7) }}°, {{ pos.longitude.toFixed(7) }}°</div>
            <div class="meta">
              <span class="accuracy">±{{ pos.accuracy.toFixed(1) }}m</span>
              <span class="time">{{ pos.timestamp }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
